---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: upf
  labels:
    app: upf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upf
  template:
    metadata:
      labels:
        app: upf
    spec:
      containers:
        - name: upf
          image: free5gc/upf:latest
          imagePullPolicy: IfNotPresent
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          volumeMounts:
            - name: upf-config
              mountPath: /free5gc/config/upf.yaml
              subPath: upf.yaml
      volumes:
        - name: upf-config
          configMap:
            name: upf-config
